@import url(https://fonts.googleapis.com/css?family=Tenor+Sans&subset=latin,cyrillic);

body{
    background: url(../pic/SimpleFon.png) top center no-repeat;
    background-attachment: fixed;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.glowing-border {
   border-radius: 4px;
   box-shadow: 0 0 10px #999999!
   important; 
} 

h3, input, h4, a, button{
	font-family: 'Tenor Sans', sans-serif;
}
.btn-default{
	color: #FFF;
	background-color: #d9697a;
	border-color: #c05061;
}

.btn-default:hover, .btn-default:focus, .btn-default:active{
	color: #FFF;
	background-color: #eb8d9b;
	border-color: #c05061;

}
.btn.focus, .btn:focus{
	color: #FFF;
	background-color: #eb8d9b;
	border-color: #c05061;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover{
		    color: #FFF;
	background-color: #eb8d9b;
	border-color: #c05061;
}